<div class="flex gap-x-10 py-4 px-8 rounded-t-lg border-b-2 border-solid border-body_bg bg-white ">
  <%= link_to "Rates", settings_exchange_rates_path %>
  <%= link_to "Limit", settings_limits_path %>
  <div>User profile</div>
</div>