<div id="<%= dom_id exchange_rate %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Value:</strong>
    <%= exchange_rate.value %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= exchange_rate.user_id %>
  </p>

</div>
